__pycache__/
*.pyc
.ipynb_checkpoints/
/out/
/cache_memory/
/pretrained_model_weights/
/transformer-ssl-asd/
/data/
/datasets/
*.pt
*.pth
*.ckpt
*.zip
*.tar
*.tar.gz
submissions/task2/repro_logs/
submissions/task2/package_logs/
third_party/*
docs/
PUBLIC_SCOPE.md
